body {
    background-color: #d3d7;
}

img {
    border-radius: 50%;
    border: 5px solid rgb(0, 179, 255);
}

h1 {
    color: black;
    background-color: rgb(0, 179, 255);
}

h3 {
    color: black;
    background-color: rgb(0, 179, 255);
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 5%;
}

label,li, a,p,tr {
    color: black;
}